body {
  font-family: "Montserrat";

}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 700;

}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: "Montserrat";
  font-weight: 300;
}

/* Button Style */
.download-btn {
  margin-top: 8%;
  margin-right: 5%;
}

/* Title-image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;


}


/* Feature-Box */

#features {

  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-box3 {
  text-align: center;
  padding: 5%;
  padding-right: 0%;
}


.icon {
  color: #ef8172;
  margin-bottom: 1.2rem;
}

.icon:hover {
  color: #ff4c68;

}


/* Testimonial section */
#testimonials {
  background-color: #ef8172;
  text-align: center;

  color: #ffff;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

 /* CTA  section */

#cta{
  background-color: #ff4c68;
  color: #fff;  
  padding: 7% 15%;
  text-align: center;

}
.cta-heading{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

 /* Footer-section */

 #footer{
  
  text-align: center;
  padding: 7% 15%;
 }
 .social-icon{
  margin: 18px 10px;
 }


@media(max-width:1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 55%;
    padding-top: 10%;
  }

}

